html, body {
	height: 100%;
}
body {
	padding: 0;
	margin: 0;            /* required to "hide" distance div */
	background: #808080;
	font: 11px /16px "Lucida Grande", Verdana, sans-serif;
	/* Mozilla: */
	background: -moz-linear-gradient(top, #808080, #2F4F4F);
	/* Chrome, Safari:*/
	background: -webkit-gradient(linear,
	left top, left bottom, from(#808080), to(#2F4F4F));
	/* MSIE */
	filter: progid
	: DXImageTransform.Microsoft.Gradient(
	StartColorStr='#808080', EndColorStr='#2F4F4F', GradientType=0);
}

body:after
{
	content: url(../images/typeimages/gallery.png) url(../images/typeimages/github.png) url(../images/typeimages/network.png) url(../images/typeimages/twitter.png);
	display: none;
}

* {
	font-size: 13px;
	text-decoration: none;
}
#tabs {
	min-height: 513px;
}
#networks {
	float: left;
	width:97%;
}
a {
	color: #666666;
}

#content {
	text-align: left;
	width: 640px;
	height: 520px;
	border: thick solid;
	background: #fff;
	border-color: #f99;
	margin: 0 auto;
}

#developers {
	overflow: auto;
}

.panes div.firstlevel {
	display:none;		
	padding:15px 10px;
	border:1px solid #999;
	border-top:0;
	height:460px;
	font-size:14px;
	background-color:#fff;
}

#areacontainer {
	width: 128px;
	position:relative;
	top:440px;
	left:570px;
}

#closecontainer {
	width: 20px;
	position:relative;
	top:-20px;
	left:620px;
	z-index: 8;
}

#closeimage {
	z-index: 9;
}

#fork-me {
  background:url(../images/background-fork-me.png) no-repeat;
  cursor:pointer;
  height:150px;
  left:-107px;
  position:absolute;
  top:-4px;
  width:150px;
  z-index:1;
}

#fork-me:hover {
  background-position:0 -150px;
}

#fork-me:active {
	background-position:0 -299px;
}

#maincontainer {
	padding-top: 20px;
}

#credits {
	color: white;
	font: 10px "Lucida Grande", Verdana, sans-serif;
}

#credits a {
	color: black;
	text-decoration: none;
}

#credits a:hover {
	color: white;
	text-decoration: underline;
}

.wp_syntax {
	overflow-x: auto;
	overflow-y: hidden;
	padding-bottom: expression(this.scrollWidth>this.offsetWidth ? 15:0);
	width: 97%;
}

code, .wp_syntax {
	font-size: 1.2em!important;
	color: #d8d8d8;
	background-color: #1e1e1e;
	margin: 0 0 1.5em 0;
	padding: .75em;
	overflow: auto;
}

code, .wp_syntax, .wp_syntax pre {
	font-family: "Liberation Mono","bitstream vera sans mono","DejaVu Sans Mono","Courier New",consolas,monaco,courier,monospace!important;
}

td, th, tr {
	color: #585858;
}

.wp_syntax pre {
	margin: 0;
	width: auto;
	float: none;
	clear: none;
	overflow: visible;
	line-height: 1.333;
	white-space: pre;
}

.wp_syntax pre {
f	ont-family: "Liberation Mono","bitstream vera sans mono","DejaVu Sans Mono","Courier New",consolas,monaco,courier,monospace!important;
}

pre, code {
	text-shadow: none!important;
}

#ipimage {
	text-align: center;
}

#ipdetails {
	padding-top: 40px;
	line-height: 18px;
}

#whois {
	overflow: auto;
	height: 400px;
}

#osicon {
    margin-top: -45px;
    padding-left: 100px;
    position: absolute;
}

.icon {
    width: 80px;
}

#browsericon {
    margin-top: -15px;
    padding-left: 10px;
    position: absolute;
}

#handhelddev {
    margin-top: -65px;
    padding-left: 190px;
    position: absolute;
}